</html>
<!DOCTYPE html>
<html>
   <head>
      <title>Solitaire</title>
      <meta charset="utf-8">
      <link rel="stylesheet" type="text/css" href="../static/css/styles.css" />
   </head>
   <body>
      <div class="container">

        <!-- Debut En tete de la page -->
         <div class="header">
            <img src="../static/images/titre.png"/>

            <div class="scores">
               Salut {{user.identifiant}},
               <br>
               Ton meilleur score est {{user.scoreperso}} et ton meilleur niveau est {{user.idniveau}}
             </div>
         </div>
        <!-- Fin En tete de la page -->

        <!-- Debut Menu -->
         <div class="menu">
            <ul>
               <li><button onclick="window.location='/'" class="btn">Acceuil</button></li>
               <li><button onclick="window.location='/jouer'" class="btn">Jouer</button></li>
               <li><button onclick="window.location='/rejouer'" class="btn">Vos parties</button></li>
               <li><button onclick="window.location='/top3'" class="btn">Meilleurs Joueurs</button></li>
               <li><button onclick="window.location='/aide'" class="btn">Aide</button></li>
               <li><button onclick="window.location='/auth/logout'" class="btn">Déconnecter</button></li>
            </ul>
         </div>
      <!-- Fin Menu -->

        <!-- Debut contenu de la page -->
         <div class="contenu">
               <img src="../static/images/aide.jpg">
         </div>
        <!-- Fin contenu de la page -->


      </div>
      <!-- JS -->
      <script type="text/javascript" src="../static/js/aide-design.js"></script>
   </body>
</html>